@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, html {
    height: 100%;
    color: white;
    background-color: rgb(54, 54, 54);
    font-family: 'Bebas Neue', cursive;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(29, 29, 29,0.5);
}

::-webkit-scrollbar-thumb{
    border-radius: 2.5px;
    background-color: #BB13FE;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #c83cff;
}

.content{
    margin-left: 160px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: rgba(29, 29, 29,0.5);
    padding-top: 20px;
    z-index: 1;
}  

.sidenav a {
    padding: 6px 8px 6px 16px;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.sidenav a:hover{
    color: #BB13FE;;
} 

.navbar{
    background-color: rgba(29, 29, 29,0.5);
    display: flex;
    text-align: center;
}

.navbar-light .navbar-toggler{
    color: #BB13FE;
    border-color: #BB13FE;
    border-width: 3px;
}

.custom-toggler .navbar-toggler-icon{
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(187, 19, 254, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav .nav-item .nav-link{
    position: relative;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.navbar-nav .nav-item .nav-link:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #BB13FE;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

.navbar-nav .nav-item .nav-link:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

.navbar-nav .nav-item .nav-link.active{
    color: #BB13FE;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #BB13FE;
}

.navbar-nav .nav-item .nav-link.active:hover{
    color: #8d0fbe;
}

.nav-btn{
    padding-left: 20px;
}

.nav-btn button{
    background-color: transparent;
    border-style: none;
}

.nav-btn button:hover, .nav-btn button:focus{
    background-color: transparent;
    border-style: none;
}

.nav-btn img{
    height: 30px;
}

.fa-stack[data-count]:after{
    position:absolute;
    right:0%;
    top:-20%;
    content: attr(data-count);
    font-size:10px;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    color: #BB13FE;
    text-align:center;
    min-width:2em;
    font-weight:bold;
    background: white;
    border-style:solid;
  }
.fa-circle {
color:#BB13FE;
}

.icon {
    color: #BB13FE;
}

.parallax {
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*
Footer
*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(29, 29, 29,0.5);
}

#socialMediaBar ul {
    margin: 20px;
    list-style-type: none;
    text-align: center;
}

#socialMediaBar li {
    display: inline;    
}

#socialMediaBar ul li a {
    font-size: 1.5em;
    padding: 0 10px;
}

#socialMediaBar ul li a:hover {
    color: white;
}

/*
Scroll buttons
*/

#btnScrollToBottom{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#btnScrollToTop{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

/*
formulier
*/
.form{
    position: relative;
    height: auto;
    padding: 20px;
}

.form form label{
    padding-top: 10px;
}

.form form input{
    background-color: rgb(219, 219, 219);
    border-color: #BB13FE;
    border-width: 2px;
}

textarea.form-control{
    background-color: rgb(219, 219, 219);
    border-color: #BB13FE;
    border-width: 2px;
}

.form form input:focus{
    border-color: #BB13FE;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 9px #BB13FE;
}

textarea.form-control:focus{
    border-color: #BB13FE;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 9px #BB13FE;
}

.form form button{
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    color: white;
    background-color: #BB13FE;
    border-style: none;
}

.form form button:hover{
    background-color: #8d0fbe;
}

.customSelect{
    background-color: rgb(219, 219, 219);
    border-color: #BB13FE;
    border-width: 2px;
    margin-bottom: 20px;
}

.customSelect:focus{
    border-color: #BB13FE;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 9px #BB13FE;
}

.importForm{
    position: relative;
    height: auto;
    padding: 20px;
}

input[type=file]::file-selector-button {
    border-style: none;
    color: white;
    border-radius: 2px;
    background-color: #BB13FE;
}
  
input[type=file]::file-selector-button:hover {
    background-color: #8d0fbe;
}

.importForm button{
    width: 50%;
    max-width: 500px;
    margin-top: 10px;
    color: white;
    background-color: #BB13FE;
    border-style: none;
}

.importForm button:hover{
    background-color: #8d0fbe;
}

.importForm a{
    color: #BB13FE;
}

.importForm a:hover{
    color: #8d0fbe;
}

/*
Table
*/
.table{
    background: rgba(29, 29, 29,0.5);
    border-radius: 5px;
    border-collapse: collapse;
    color: white;
}

tbody tr {
    transition: background 0.25s ease;
  }

tbody tr:hover {
background: #353535;
}

/*
NEON button
*/
.neon-button{
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #BB13FE;
    border: currentColor 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em rgb(104, 104, 104), 0 0 0.5em currentColor;
    box-shadow: inset 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor;
}

.neon-button:hover,
.neon-button:focus{
    background: #BB13FE;
    color: white;
    text-shadow: none;
}

/*
PopUp
*/
.form-popup {
    display: none;
    right: 0;
    position: fixed;
    z-index: 9;
    color: black;
    text-align: center;
}

.form-container {
    width: 400px;
    padding: 10px;
    background-color: rgba(29, 29, 29,0.5);
    color: white;
    border-radius: 0px 0px 5px 5px;
}

.form-container .btn{
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    color: white;
    background-color: #BB13FE;
    border-style: none;
}

.form-container .btn a{
    color: white;
}

.form-popup form input{
    background-color: rgb(219, 219, 219);
    border-color: #BB13FE;
    border-width: 2px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

textarea.form-popup-control{
    background-color: rgb(219, 219, 219);
    border-color: #BB13FE;
    border-width: 2px;
}

.form-popup form input:focus{
    border-color: #BB13FE;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 9px #BB13FE;
}

textarea.form-popup-control:focus{
    border-color: #BB13FE;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 9px #BB13FE;
}


@media print{
    h1, h2, h3, p{
        color: #000;
    }

    .navbar{
        display: none;
    }

    .footer{
        display: none;
    }

    #btnScrollToBottom{
        display: none;
    }

    #btnScrollToTop{
        display: none;
    }

    .contact form input{
        border-color: #000;
    }

    textarea.form-control{
        border-color: #000;
    }

    textarea.form-control{
        border-color: #000;
    }
    
}